@page "/"

@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Webshop.Web.Shared.Models
@using Webshop.Web.Client.Clients
@using System.Net.Http.Json

@inject PublicClient client

<div class="page">
    <h1>Products</h1>

    @if (products == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-2 row-cols-xl-3">
            @foreach (var product in products)
            {
                string productLink = $"/product/{product.Id}";

                <div class="col mb-4">
                    <div class="card text-white bg-dark border-dark" style="width: 18rem;">
                        <NavLink href="@productLink">
                            <img class="card-img-top bg-light" src="@ConvertImageToDisplay(product.Image)">
                        </NavLink>
                        <div class="card-body">
                            <NavLink href="@productLink">
                                <h5 class="card-title">@product.Name</h5>
                                <p class="card-text">@product.Price Ft</p>
                            </NavLink>
                            <AddToCart ProductId=@product.Id></AddToCart>
                        </div>
                    
                    </div>
                </div>
            }
            </div>
        </div>
    }
</div>

@code {
    private Product[]? products;

    protected override async Task OnInitializedAsync()
    {
        products = await client.GetMainPageProducts();
    }

    private string ConvertImageToDisplay(byte[] image)
	{
		if (image != null)
		{
			var base64 = Convert.ToBase64String(image);
			var fs = string.Format("data:image/png;base64,{0}", base64);
			return fs;
		}
		return "";
	}
}
