@page "/products"

@using Webshop.Web.Shared.Models
@using Webshop.Web.Client.Clients
@using System.Net.Http.Json

@inject PublicClient client

<h3>Category @CategoryId</h3>

@if (subCategories != null)
{
    <ul>
    @foreach (var category in subCategories)
    {
        <li>(@category.Id) @category.Name</li>
    }
    </ul>
}

@if (products == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="container">
    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-2 row-cols-xl-3">
    @foreach (var product in products)
    {
        string cartLink = $"/addtocart?productid={product.Id}&amount=1&sizeid=3";
        string productLink = $"/product/{product.Id}";

        <div class="col mb-4">
            <div class="card text-white bg-dark border-dark" style="width: 18rem;">
                <NavLink href="@productLink">
                    <img class="card-img-top bg-light" src="@product.ImageSource">
                </NavLink>
                <div class="card-body">
                    <NavLink href="@productLink">
                        <h5 class="card-title">@product.Name</h5>
                        <p class="card-text">@product.Price Ft</p>
                    </NavLink>
                    <AddToCart ProductId=@product.Id></AddToCart>
                </div>
            </div>
        </div>
    }
    </div>
    </div>
}

@code {
    [Parameter]
    [SupplyParameterFromQuery]
    public int CategoryId { get; set; }

    private Category[]? subCategories;

    private Product[]? products;

    protected override async Task OnParametersSetAsync()
    {
        subCategories = await client.GetSubCategories(CategoryId);
        products = await client.GetFilteredProducts(CategoryId);
    }
}
