@using Webshop.Web.Shared.Models

<EditForm EditContext=addressInfoEditContext Context="addressInfoContext">
	<DataAnnotationsValidator/>
	<div class="col-md-4">
		<label class="form-label">
			First Name
			<InputText @bind-Value=AddressInfoModel.FirstName DisplayName="First Name" class="form-control"></InputText>
			<ValidationMessage For="@(() => AddressInfoModel.FirstName)" />
		</label>
	</div>
	<div>
		<label class="col-md-4 form-label">
			Last Name
			<InputText @bind-Value=AddressInfoModel.LastName DisplayName="Last Name" class="form-control"></InputText>
			<ValidationMessage For="@(() => AddressInfoModel.LastName)" />
		</label>
	</div>
	<EditForm EditContext=addressEditContext Context="addressContext">
		<DataAnnotationsValidator/>
		<div>
			<label class="col-md-4 form-label">
				Country
				<InputText @bind-Value=AddressInfoModel.Address.Country class="form-control"></InputText>
				<ValidationMessage For="@(() => AddressInfoModel.Address.Country)" />
			</label>
		</div>
		<div>
			<label class="col-md-4 form-label">
				Region
				<InputText @bind-Value=AddressInfoModel.Address.Region class="form-control"></InputText>
				<ValidationMessage For="@(() => AddressInfoModel.Address.Region)" />
			</label>
		</div>
		<div>
			<label class="col-md-4 form-label">
				ZIP Code
				<InputText @bind-Value=AddressInfoModel.Address.ZipCode DisplayName="ZIP Code" class="form-control"></InputText>
				<ValidationMessage For="@(() => AddressInfoModel.Address.ZipCode)" />
			</label>
		</div>
		<div>
			<label class="col-md-4 form-label">
				City
				<InputText @bind-Value=AddressInfoModel.Address.City class="form-control"></InputText>
				<ValidationMessage For="@(() => AddressInfoModel.Address.City)" />
			</label>
		</div>
		<div>
			<label class="col-md-4 form-label">
				Street
				<InputText @bind-Value=AddressInfoModel.Address.Street class="form-control"></InputText>
				<ValidationMessage For="@(() => AddressInfoModel.Address.Street)" />
			</label>
		</div>
	</EditForm>
	<div>
		<label class="col-md-4 form-label">
			Phone Number
			<InputText @bind-Value=AddressInfoModel.PhoneNumber DisplayName="Phone Number" class="form-control"></InputText>
			<ValidationMessage For="@(() => AddressInfoModel.PhoneNumber)" />
		</label>
	</div>
</EditForm>

@code {
	[Parameter]
	[EditorRequired]
	public AddressInfo AddressInfoModel { get; set; }

	private EditContext? addressInfoEditContext;
	private EditContext? addressEditContext;

	protected override async Task OnInitializedAsync()
	{
		addressInfoEditContext = new(AddressInfoModel);
		addressEditContext = new(AddressInfoModel.Address);
	}

	public bool Validate()
	{
		return ((addressInfoEditContext != null && addressInfoEditContext.Validate()) & (addressEditContext != null && addressEditContext.Validate()));
	}
}
